/* App.css (or a separate CSS/SCSS file) */
.dark-mode-toggle {
    display: flex;
    align-items: center;
  }
  .dark-theme{
    
    color: rgb(38, 10, 44) ;
    background-image: url("https://i.ibb.co/dW6qnrf/pexels-rodion-kutsaiev-9436715.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
  .light-theme{
    background-image: url("https://i.ibb.co/XCKDZsk/blurry-gradient-haikei.png");
    color: rgb(13, 32, 78);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    


  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  